.main{
    display:flex;
    justify-content:;
    background:linear-gradient(90deg,rgb(223, 148, 11),white ,rgb(20, 202, 60));
    
}
.first{
    font-size:30px;
}
.second{
    display:inline;
    margin-left:5%;
}
.info{

   text-align :right;
  color:red;
  font-size:20px;
}
.top{
    display:inline-block;
   background-color: black;
   color:white;
   font-size:20px;
}
.top:hover{
    background-color: darkorchid;
}
a:link{
    color:blue;
}
a:visited{
    color:blue;
}
a:active{
    color:yellow;
}

@media(max-width:575px) 
{
    .main{
        display:block;
        justify-content:;
        background:linear-gradient(90deg,rgb(223, 148, 11),white ,rgb(20, 202, 60));
       
        
    }
    .first a{
        text-decoration: none;
    }
  .first{
    font-size:30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  p{
    padding-right:30px;
    margin-right:20px;
  }
  .second{
    display:block;
    
}

 .top{
     display:inline-block;
 }
 img{
    width:250px;
    height:150px;
    border:7px solid white;
    border-radius: 7px;
 }

  }
  
  